.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.container > form {
  width: 25%;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  background: rgb(240, 248, 255);
}

.NavbarItems {
  background: black;
  color: yellow;
  height: 80 px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.nav-links {
  color: white;
  padding: 0.5 rem 1 rem;
}

.nav-menu {
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(5,auto);
  justify-content: center;
  list-style: none;
}
